<footer class="site-footer">

  <div class="wrapper">


  </div>

</footer>
<div class="color-bars-header">
  <div class="cor-head colr-all"></div>
  <div class="cor-head colr-all"></div>
  <div class="cor-head colr-all"></div>
  <div class="cor-head colr-all"></div>
  <div class="cor-head colr-all"></div>
  <div class="cor-head colr-all"></div>
  <div class="cor-head colr-all"></div>
  <div class="cor-head colr-all"></div>
</div>

<div class="social-media" style>

<a href="{{ site.twitter }}">     
<img class"social-media-icon" src="{{ site.baseurl }}\images\s-media\twitter-circle.svg" target="_blank">
</a>

<a href="{{ site.github }}">     
<img class"social-media-icon" src="{{ site.baseurl }}\images\s-media\github-circle.svg" target="_blank">
</a>

<a href="{{ site.linkedin }}">     
<img class"social-media-icon" src="{{ site.baseurl }}\images\s-media\linkedin-circle.svg" target="_blank">
</a>

<a href="{{ site.instagram }}">     
<img class"social-media-icon" src="{{ site.baseurl }}\images\s-media\instagram-circle.svg" target="_blank">
</a>

<a href="{{ site.email }}">     
<img class"social-media-icon" src="{{ site.baseurl }}\images\s-media\email-circle.svg" target="_blank">
</a>

</div>